@using Pelo.Common.Dtos.Product
@model Pelo.Web.Models.Invoice.InsertInvoiceModel

@{
    ViewBag.Title = "Thêm đơn hàng";
    Layout = "_Layout";
}

<style>
    .label-title {
        /*font-weight:600;*/
        font-size: 15px;
    }

    .label-content {
        font-size: 15px;
        color: #666EE8;
        padding-left: 5px;
    }
</style>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thêm đơn hàng</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index")">
                    Danh sách đơn hàng
                </a>
            </li>
            <li class="breadcrumb-item active">Thêm đơn hàng</li>
        </ol>
        <div class=" row col-md-12 form-group">
            <h4 class="card-title">THÔNG TIN KHÁCH HÀNG</h4>
        </div>
        <div class="row form-group">
            <div class="col-lg-4">
                <label class="label-title col-form-label"><strong>Mã khách hàng: </strong></label>
                <label class="label-content col-form-label">@Model.CustomerInfoModel.Code</label>
            </div>
            <div class="col-lg-5">
                <label class="label-title col-form-label"><strong>Nhóm khách hàng: </strong></label>
                <label class="label-content col-form-label">@Model.CustomerInfoModel.CustomerGroup</label>
            </div>
            <div class="col-lg-3">
                <label class="label-title col-form-label"><strong>Mức độ thân thiết: </strong></label>
                <label class="label-content col-form-label">@Model.CustomerInfoModel.CustomerVip</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-4">
                <label class="label-title col-form-label"><strong> Tên khách hàng: </strong></label>
                <label class="label-content col-form-label">@Model.CustomerInfoModel.Name</label>
            </div>
            <div class="col-lg-5">
                <label class="label-title col-form-label"><strong> Số điện thoại 1: </strong></label>
                <label class="label-content col-form-label">@Model.CustomerInfoModel.Phone</label>
            </div>
            <div class="col-lg-3">
                <label class="label-title col-form-label"><strong> Số điện thoại 2: </strong></label>
                <label class="label-content col-form-label">@Model.CustomerInfoModel.Phone2</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-5">
                <label class="label-title col-form-label"><strong> Địa chỉ: </strong></label>
                <label class="label-content col-form-label">@Model.CustomerInfoModel.Address</label>
            </div>
        </div>
        @{
            if (!string.IsNullOrEmpty(Model.CustomerInfoModel.Province))
            {
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="row">
                            <label class="col-sm-3 label-title col-form-label"><strong>@Model.CustomerInfoModel.ProvinceType: </strong></label>
                            <label class="col-sm-9 label-content col-form-label">@Model.CustomerInfoModel.Province</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <label class="col-sm-3 label-title col-form-label"><strong>@Model.CustomerInfoModel.DistrictType: </strong></label>
                            <label class="col-sm-3 label-content col-form-label">@Model.CustomerInfoModel.District</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <label class="col-sm-3 label-title col-form-label"><strong>@Model.CustomerInfoModel.WardType: </strong></label>
                            <label class="col-sm-3 label-content col-form-label">@Model.CustomerInfoModel.Ward</label>
                        </div>
                    </div>
                </div>
            }
        }
        <hr />
        <form class="row" method="post">
            <div class="form-group form-group--float">
                <select class="form-control select2" id="txtProduct">
                    <option value="0">--Chọn thêm sản phẩm--</option>
                    @{
                        var products = ViewBag.Products as List<ProductSimpleModel>;
                        if(products!=null) {
                            foreach (var product in products) {
                                <option value="@product.Id" data-price="@product.SellPrice">@product.Name</option>
                            }
                        }
                    }
                </select>
                @*@Html.TextBoxFor(c => c.ContactDate,
                                 new {
                                             @class = "form-control",
                                             @autocomplete = "none",
                                             @id = "datepicker"
                                     })
                <label>Ngày liên hệ</label>
                <i class="form-group__bar"></i>
                @Html.ValidationMessageFor(c => c.ContactDate)*@
            </div>
        </form>
    </div>
</div>
@section css{
    <link rel="stylesheet" href="~/vendors/datetimepicker/jquery.datetimepicker.min.css">
}
@section js{
    <script src="~/vendors/datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script>
        $(function () {
            $("#datepicker").datetimepicker({ format: 'd-m-Y', lang: 'vi', timepicker: false });
            $("#timepicker").datetimepicker({
                datepicker: false,
                format: 'H:i'
            });
        });
    </script>
}


