@using Pelo.Common.Dtos.PayMethod
@using Pelo.Common.Dtos.Product
@model Pelo.Web.Models.Invoice.InsertInvoiceModel

@{
    ViewBag.Title = "Thêm đơn hàng";
    Layout = "_Layout";
}

<style>
    .label-title {
        /*font-weight:600;*/
        font-size: 15px;
    }

    .label-content {
        font-size: 15px;
        color: #666EE8;
        padding-left: 5px;
    }

</style>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thêm đơn hàng</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index")">
                    Danh sách đơn hàng
                </a>
            </li>
            <li class="breadcrumb-item active">Thêm đơn hàng</li>
        </ol>
        <div class="row form-group">
            <div class="col-lg-4">
                <label class="label-title col-form-label"><strong>Mã khách hàng: </strong></label>
                <label class="label-content col-form-label">@Model.CustomerInfoModel.Code</label>
            </div>
            <div class="col-lg-5">
                <label class="label-title col-form-label"><strong>Nhóm khách hàng: </strong></label>
                <label class="label-content col-form-label">@Model.CustomerInfoModel.CustomerGroup</label>
            </div>
            <div class="col-lg-3">
                <label class="label-title col-form-label"><strong>Mức độ thân thiết: </strong></label>
                <label class="label-content col-form-label">@Model.CustomerInfoModel.CustomerVip</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-4">
                <label class="label-title col-form-label"><strong> Tên khách hàng: </strong></label>
                <label class="label-content col-form-label">@Model.CustomerInfoModel.Name</label>
            </div>
            <div class="col-lg-5">
                <label class="label-title col-form-label"><strong> Số điện thoại 1: </strong></label>
                <label class="label-content col-form-label">@Model.CustomerInfoModel.Phone</label>
            </div>
            <div class="col-lg-3">
                <label class="label-title col-form-label"><strong> Số điện thoại 2: </strong></label>
                <label class="label-content col-form-label">@Model.CustomerInfoModel.Phone2</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-5">
                <label class="label-title col-form-label"><strong> Địa chỉ: </strong></label>
                <label class="label-content col-form-label">@Model.CustomerInfoModel.Address</label>
            </div>
        </div>
        @{
            if (!string.IsNullOrEmpty(Model.CustomerInfoModel.Province))
            {
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="row">
                            <label class="col-sm-3 label-title col-form-label"><strong>@Model.CustomerInfoModel.ProvinceType: </strong></label>
                            <label class="col-sm-9 label-content col-form-label">@Model.CustomerInfoModel.Province</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <label class="col-sm-3 label-title col-form-label"><strong>@Model.CustomerInfoModel.DistrictType: </strong></label>
                            <label class="col-sm-3 label-content col-form-label">@Model.CustomerInfoModel.District</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <label class="col-sm-3 label-title col-form-label"><strong>@Model.CustomerInfoModel.WardType: </strong></label>
                            <label class="col-sm-3 label-content col-form-label">@Model.CustomerInfoModel.Ward</label>
                        </div>
                    </div>
                </div>
            }
        }
        <hr />
        <form class="row" method="post">
            <div class="col-sm-12 col-md-6">
                <h4></h4>
                <div class="form-group form-group--float">
                    <select class="form-control select2" id="txtProduct" onchange="selectProduct();">
                        <option value="0">--Chọn thêm sản phẩm--</option>
                        @{
                            var products = ViewBag.Products as List<ProductSimpleModel>;
                            if(products != null) {
                                foreach (var product in products) {
                                    <option value="@product.Id" data-id="@product.Id" data-price="@product.SellPrice" data-name="@product.Name">@product.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <table class="table mb-0">
                    <thead>
                    <tr>
                        <th style="text-align:left;">Tên sản phẩm</th>
                        <th style="text-align:left;">Ghi chú</th>
                        <th style="text-align:right;">Đơn giá</th>
                        <th style="text-align:right;">Số lượng</th>
                        <th style="text-align:right;">Thành tiền</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="bodyProduct">
                    </tbody>
                    <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Tổng cộng:</th>
                        <th colspan="2"><input class="form-control" style="text-align:right;" id="totalInvoice" readonly="readonly" /></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Giảm giá:</th>
                        <th colspan="2">
                            @Html.TextBoxFor(c => c.Discount, new
                                                              {
                                                                      @class = "form-control",
                                                                      @onblur = "changeDiscount();",
                                                                      @type = "number",
                                                                      @style = "text-align:right;"
                                                              })
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Thanh toán:</th>
                        <th colspan="2">
                            <input class="form-control" style="text-align:right;" id="totalAfterDiscount" readonly="readonly" />
                        </th>
                    </tr>
                    </tfoot>
                </table>
                <hr/>
                @*<br/>
                <hr/>
                <div class="col-md-8">.</div>
                <div class="col-md-3">
                    <table class="table">
                        <tr>
                            <td>Tổng cộng: </td>
                            <td>
                                <input class="form-control" style="text-align:right;" id="totalInvoice" readonly="readonly"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Giảm giá: </td>
                            <td>
                                @Html.TextBoxFor(c=>c.Discount,new {
                                                                           @class="form-control",
                                                                           @onblur="changeDiscount();",
                                                                           @type="number",
                                                                           @style="text-align:right;"
                                                                   })
                            </td>
                        </tr>
                        <tr>
                            <td>Thanh toán: </td>
                            <td>
                                <input class="form-control" style="text-align:right;" id="totalAfterDiscount" readonly="readonly"/>
                            </td>
                        </tr>
                    </table>
                </div>*@
            </div>
            <div class="col-md-12">
                <div class="form-group form-group--float">
                    <select id="PayMethodId" name="PayMethodId" class="form-control select2">
                        <option value="0">--Hình thức thanh toán--</option>
                        @{
                            var payMethods = ViewBag.PayMethods as List<PayMethodSimpleModel>;
                            if(payMethods!=null) {
                                foreach (var payMethod in payMethods) {
                                    <option value="@payMethod.Id">@payMethod.Name</option>
                                }
                            }
                        }
                    </select>
                    <i class="form-group__bar"></i>
                    @Html.ValidationMessageFor(c => c.PayMethodId)
                </div>
            </div>
        </form>
    </div>
</div>
@section css{
    <link rel="stylesheet" href="~/vendors/datetimepicker/jquery.datetimepicker.min.css">
}
@section js{
    <script src="~/vendors/datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script>
        var total=0;
        var totalAfterDiscount=0;
        $(function () {
            $("#datepicker").datetimepicker({ format: 'd-m-Y', lang: 'vi', timepicker: false });
            $("#timepicker").datetimepicker({
                    datepicker: false,
                    format: 'H:i'
                });
        });
        function selectProduct() {
            var productId=$('#txtProduct').val();
            if (productId != 0) {
                var trElement = $('#tr-' + productId);
                if (trElement.length === 0) {
                    var element = $('option[data-id=' + productId + ']')[0];
                    var name = element.getAttribute('data-name');
                    var sellPrice = element.getAttribute('data-price');
                    var tr = '<tr id="tr-'+productId+'">';
                    tr += '<td id="name">' + name + '</td>';
                    tr += '<td id="description"><input class="form-control"/></td>';
                    tr += '<td id="price"><input id="price-'+productId+'" onblur="changeProduct('+productId+');" class="form-control" style="text-align:right;" value="' + Util.number.format(sellPrice) + '"/></td>';
                    tr += '<td id="quantity"><input id="quantity-'+productId+'" onblur="changeProduct('+productId+');" class="form-control" type="number" style="text-align:right;" value="1"/></td>';
                    tr += '<td id="total"><input id="total-'+productId+'" class="form-control" readonly="readonly" style="text-align:right;" value="' + Util.number.format(sellPrice) + '"/></td>';
                    tr+='<td><a class="btn btn-danger" href="javascript:deleteProduct('+productId+');">Xóa</a></td>';
                    tr += '</tr>';
                    total += parseInt(sellPrice);
                    totalAfterDiscount += parseInt(sellPrice);
                    $('#bodyProduct').append(tr);
                    displayTotalAmount();
                }
            }
        }
        function displayTotalAmount() {
            $('#totalInvoice').val(Util.number.format(total));
            $('#totalAfterDiscount').val(Util.number.format(totalAfterDiscount));
        }
        function deleteProduct(id) {
            var sellPrice = parseInt($('#price-' + id).val().replace(/,/g, ''));
            var quantity = parseInt($('#quantity-' + id).val());
            var removeAmount = sellPrice * quantity;
            total -= removeAmount;
            totalAfterDiscount -= removeAmount;
            displayTotalAmount();
            $('#tr-' + id).remove();
        }
        function changeProduct(id) {
            var sellPrice = parseInt($('#price-' + id).val().replace(/,/g, ''));
            var quantity = parseInt($('#quantity-' + id).val());
            var totalAmount = parseInt($('#total-' + id).val().replace(/,/g, ''));
            $('#total-' + id).val(Util.number.format(sellPrice * quantity));
            $('#price-' + id).val(Util.number.format(sellPrice));
            total -= totalAmount;
            totalAfterDiscount -= totalAmount;
            total += sellPrice * quantity;
            totalAfterDiscount += sellPrice * quantity;
            displayTotalAmount();
        }
        function changeDiscount() {
            var discount=$('#Discount').val().replace(/,/g, '');
            $('#Discount').val(Util.number.format(discount));
            totalAfterDiscount -= discount;
            displayTotalAmount();
        }
    </script>
}


