@using Pelo.Common.Dtos.CrmPriority
@using Pelo.Common.Dtos.CrmStatus
@using Pelo.Common.Dtos.CrmType
@using Pelo.Common.Dtos.CustomerGroup
@using Pelo.Common.Dtos.CustomerSource
@using Pelo.Common.Dtos.CustomerVip
@using Pelo.Common.Dtos.ProductGroup
@using Pelo.Common.Dtos.User
@model object

@{
    ViewBag.Title = "Danh sách CRM";
    Layout = "_Layout";
}

@section cssPlugin{
    <link rel="stylesheet" href="~/vendors/flatpickr/flatpickr.min.css" />
}

<div class="card">
    <div class="card-body" id="accordion">
        <h4 class="card-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                Danh sách CRM
            </a>
        </h4>
        <div class="row panel-collapse collapse in" id="collapse1">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" id="txtCustomerCode" placeholder="Mã khách hàng">
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control select2" id="txtCustomerGroup">
                        <option value="0">--Tất cả nhóm khách hàng--</option>
                        @{
                            var customerGroups = ViewBag.CustomerGroups as List<CustomerGroupSimpleModel>;
                            if (customerGroups != null)
                            {
                                foreach (var customerGroup in customerGroups)
                                {
                                    <option value="@customerGroup.Id">@customerGroup.Name</option>
                                }
                            }
                        }
                    </select>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" id="txtCustomerName" placeholder="Tên khách hàng">
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control select2" id="txtCustomerVip">
                        <option value="0">--Tất cả KHTT--</option>
                        @{
                            var customerVips = ViewBag.CustomerVips as List<CustomerVipSimpleModel>;
                            if (customerVips != null)
                            {
                                foreach (var customerVip in customerVips)
                                {
                                    <option value="@customerVip.Id">@customerVip.Name</option>
                                }
                            }
                        }
                    </select>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" id="txtCustomerPhone" placeholder="Số điện thoại">
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" id="txtCustomerAddress" placeholder="Địa chỉ">
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control select2" id="txtProvince" onchange="loadDistricts();">
                        <option value="0">--Tất cả tỉnh/thành--</option>
                    </select>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control select2" id="txtDistrict" onchange="loadWards();">
                        <option value="0">--Tất cả quận/huyện--</option>
                    </select>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control select2" id="txtWard">
                        <option value="0">--Tất cả phường/xã--</option>
                    </select>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" id="txtNeed" placeholder="Nhu cầu">
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control select2" id="txtCrmType">
                        <option value="0">--Tất cả kiểu chốt--</option>
                        @{
                            var crmTypes = ViewBag.CrmTypes as List<CrmTypeSimpleModel>;
                            if (crmTypes != null)
                            {
                                foreach (var crmType in crmTypes)
                                {
                                    <option value="@crmType.Id">@crmType.Name</option>
                                }
                            }
                        }
                    </select>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control select2" id="txtCrmStatus">
                        <option value="0">--Tất cả trạng thái--</option>
                        @{
                            var crmStatuses = ViewBag.CrmStatuses as List<CrmStatusSimpleModel>;
                            if (crmStatuses != null)
                            {
                                foreach (var crmStatus in crmStatuses)
                                {
                                    <option value="@crmStatus.Id">@crmStatus.Name</option>
                                }
                            }
                        }
                    </select>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control select2" id="txtCrmPriority">
                        <option value="0">--Tất cả mức độ--</option>
                        @{
                            var crmPriorities = ViewBag.CrmPriorities as List<CrmPrioritySimpleModel>;
                            if (crmPriorities != null)
                            {
                                foreach (var crmPriority in crmPriorities)
                                {
                                    <option value="@crmPriority.Id">@crmPriority.Name</option>
                                }
                            }
                        }
                    </select>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control select2" id="txtCustomerSource">
                        <option value="0">--Tất cả nguồn khách hàng--</option>
                        @{
                            var customerSources = ViewBag.CustomerSources as List<CustomerSourceSimpleModel>;
                            if (customerSources != null)
                            {
                                foreach (var customerSource in customerSources)
                                {
                                    <option value="@customerSource.Id">@customerSource.Name</option>
                                }
                            }
                        }
                    </select>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" id="txtCode" placeholder="Mã cơ hội">
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control select2" id="txtUserCare">
                        <option value="0">--Người phụ trách--</option>
                        @{
                            var userCares = ViewBag.UserCares as List<UserDisplaySimpleModel>;
                            if (userCares != null)
                            {
                                foreach (var userCare in userCares)
                                {
                                    <option value="@userCare.Id">@userCare.DisplayName</option>
                                }
                            }
                        }
                    </select>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control select2" id="txtProductGroup">
                        <option value="0">--Tất cả nhóm sản phẩm--</option>
                        @{
                            var productGroups = ViewBag.ProductGroups as List<ProductGroupSimpleModel>;
                            if (productGroups != null)
                            {
                                foreach (var productGroup in productGroups)
                                {
                                    <option value="@productGroup.Id">@productGroup.Name</option>
                                }
                            }
                        }
                    </select>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control select2" id="txtVisit">
                        <option value="-1">--Tất cả--</option>
                        <option value="1">Đã đến cửa hàng</option>
                        <option value="0">Chưa đến cửa hàng</option>
                    </select>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="zmdi zmdi-calendar"></i></span>
                        </div>
                        <input type="date" class="form-control hidden-md-up" placeholder="Ngày liên hệ từ">
                        <input type="text" id="txtFromDate" class="form-control date-picker hidden-sm-down flatpickr-input active" placeholder="Ngày liên hệ từ" readonly="readonly">
                    </div>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="zmdi zmdi-calendar"></i></span>
                        </div>
                        <input type="date" class="form-control hidden-md-up" placeholder="Ngày liên hệ đến">
                        <input type="text" id="txtToDate" class="form-control date-picker hidden-sm-down flatpickr-input active" placeholder="Ngày liên hệ đến" readonly="readonly">
                    </div>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            @{
                var isDefaultCrmRole = (bool)ViewBag.IsDefaultCrmRole;
                if (isDefaultCrmRole)
                {
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control select2" id="txtUserCreated">
                                <option value="0">--Tất cả người tạo--</option>
                                @{
                                    var userCreateds = ViewBag.UserCreated as List<UserDisplaySimpleModel>;
                                    if (userCreateds != null)
                                    {
                                        foreach (var userCreated in userCreateds)
                                        {
                                            <option value="@userCreated.Id">@userCreated.DisplayName</option>
                                        }
                                    }
                                }
                            </select>
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                }
                else
                {
                    <input type="hidden" id="txtUserCreated" value="@ViewBag.UserId" />
                }
            }
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="zmdi zmdi-calendar"></i></span>
                    </div>
                    <input type="date" class="form-control hidden-md-up" placeholder="Ngày tạo">
                    <input type="text" id="txtDateCreated" class="form-control date-picker hidden-sm-down flatpickr-input active" placeholder="Ngày tạo" readonly="readonly">
                </div>
                <i class="form-group__bar"></i>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <a class="btn btn-primary" href="javascript:reloadData();">Tìm kiếm</a>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="tblCrms" class="table table-bordered">
                <thead class="thead-default">
                    <tr>
                        <th></th>
                        <th>Trạng thái</th>
                        <th>Mã cơ hội</th>
                        <th>Khách hàng</th>
                        <th>Nhu cầu</th>
                        <th>Thông tin thêm</th>
                        <th>Phụ trách</th>
                        <th>Ngày liên hệ</th>
                        <th>Ngày tạo</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        <button class="btn btn-success btn--action" onclick="window.location.href='/Customer/FindByPhoneNumber?nextAction=Crm'"><i class="zmdi zmdi-plus"></i></button>
    </div>
</div>

@section js{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/vendors/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables-buttons/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables-buttons/buttons.print.min.js"></script>
    <script src="~/vendors/jszip/jszip.min.js"></script>
    <script src="~/vendors/datatables-buttons/buttons.html5.min.js"></script>
    <script src="~/vendors/flatpickr/flatpickr.min.js"></script>
    <script src="~/js/pages/crm/index.js"></script>
}

