@model Pelo.Web.Models.Customer.CustomerInfoModel

@{
    ViewData["Title"] = "Thông tin khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <style>
        .label-title {
            /*font-weight:600;*/
            font-size: 15px;
        }

        .label-content {
            font-size: 15px;
            color: #666EE8;
            padding-left: 5px;
        }
    </style>
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thêm khách hàng</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index")">
                    Danh sách CRM
                </a>
            </li>
            <li class="breadcrumb-item active">Thông tin khách hàng</li>
        </ol>
        <div class=" row col-md-12 form-group">
            <h3>THÔNG TIN KHÁCH HÀNG</h3>
        </div>
        <form>
            @Html.ValidationSummary()
            @Html.HiddenFor(c => c.Id, new { @id = "txtCustomerId" })
            <div class="row form-group">
                <div class="col-lg-6">
                    <label class=" label-title col-form-label"><strong>Mã khách hàng: </strong></label>
                    <label class=" label-content col-form-label">@Model.Code</label>
                </div>
                <div class="col-lg-6">
                    <label class=" label-title col-form-label"><strong> Người tạo: </strong></label>
                    <label class=" label-content col-form-label">@Model.UserCreated</label>
                    <br>
                    <label class="label-title col-form-label"><strong> Ngày tạo: </strong></label>
                    <label class="label-content col-form-label">@Model.DateCreated</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label class=" label-title col-form-label"><strong>Nhóm khách hàng: </strong></label>
                    <label class=" label-content col-form-label">@Model.CustomerGroup</label>
                </div>
                <div class="col-lg-3">
                    <label class=" label-title col-form-label"><strong>Mức độ thân thiết: </strong></label>
                    <label class=" label-content col-form-label">@Model.CustomerVip</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label class=" label-title col-form-label"><strong> Tên khách hàng: </strong></label>
                    <label class=" label-content col-form-label">@Model.Name</label>
                </div>
                <div class="col-lg-6">
                    <label class=" label-title col-form-label"><strong> Số điện thoại 1: </strong></label>
                    <label class=" label-content col-form-label">@Model.Phone</label>
                    <br />
                    <label class=" label-title col-form-label"><strong> Số điện thoại 2: </strong></label>
                    <label class=" label-content col-form-label">@Model.Phone2</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-12">
                    <label class=" label-title col-form-label"><strong> Địa chỉ: </strong></label>
                    <label class=" label-content col-form-label">@Model.Address</label>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(Model.Ward) || !string.IsNullOrEmpty(Model.Ward) || !string.IsNullOrEmpty(Model.Ward))
            {
                <div class="row form-group">
                    <div class="col-lg-3">
                        <label class=" label-title col-form-label"><strong> Tỉnh: </strong></label>
                        <label class=" label-content col-form-label">@Model.Province</label>
                    </div>
                    <div class="col-lg-3">
                        <label class="label-title col-form-label"><strong> Quận/huyện: </strong></label>
                        <label class="label-content col-form-label">@Model.District</label>
                    </div>
                    <div class="col-lg-3">
                        <label class="label-title col-form-label"><strong> Phường/xã: </strong></label>
                        <label class="label-content col-form-label">@Model.Ward</label>
                    </div>
                </div>
            }
            <div class="row form-group" style="justify-content: center;">
                <a style="margin-left:15px" class="btn btn-primary" href="@Url.Action("Add",new { phone=Model.Phone})">Tiếp tục</a>
                <a style="margin-left:15px" class="btn btn-secondary" href="@Url.Action("Index")">Quay lại</a>
            </div>
        </form>
        <h2 style="text-align:center;font-size:20px;" class="label-content">Lịch sử giao dịch của khách hàng</h2>
        <a style="margin-bottom:5px" class="btn btn-primary collapsed title-history" data-toggle="collapse" href="#collapseInvoice" role="button" aria-expanded="false" aria-controls="collapseInvoice">
            Đơn hàng <span id="invoiceCount">(0)</span>
        </a>
        <div class="mt-2 collapse" id="collapseInvoice" style="">
            <div class="table-responsive">
                <table id="tblInvoices" class="table table-bordered">
                    <thead class="thead-default">
                        <tr>
                            <th></th>
                            <th>Trạng thái</th>
                            <th>Mã cơ hội</th>
                            <th>Khách hàng</th>
                            <th>Nhu cầu</th>
                            <th>Thông tin thêm</th>
                            <th>Phụ trách</th>
                            <th>Ngày liên hệ</th>
                            <th>Ngày tạo</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <br />
        <a style="margin-bottom:5px" class="btn btn-primary collapsed title-history" data-toggle="collapse" href="#collapseCrm" role="button" aria-expanded="false" aria-controls="collapseCrm">
            CRM <span id="crmCount">(0)</span>
        </a>
        <div class="mt-2 collapse" id="collapseCrm" style="">
            <div class="table-responsive">
                <table id="tblCrms" class="table table-bordered">
                    <thead class="thead-default">
                        <tr>
                            <th></th>
                            <th>Trạng thái</th>
                            <th>Mức độ khẩn cấp</th>
                            <th>Mã cơ hội</th>
                            <th>Khách hàng</th>
                            <th>Nhu cầu</th>
                            <th>Nguồn</th>
                            <th>Phụ trách</th>
                            <th>Ngày liên hệ</th>
                            <th>Ngày tạo</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <br />
        <a style="margin-bottom:5px" class="btn btn-primary collapsed title-history" data-toggle="collapse" href="#collapseTask" role="button" aria-expanded="false" aria-controls="collapseTask">
            Công việc <span id="taskCount">(0)</span>
        </a>
        <div class="mt-2 collapse" id="collapseTask" style="">
            <div class="table-responsive">
                <table id="tblTasks" class="table table-bordered">
                    <thead class="thead-default">
                        <tr>
                            <th></th>
                            <th>Trạng thái</th>
                            <th>Mức độ khẩn cấp</th>
                            <th>Mã cơ hội</th>
                            <th>Khách hàng</th>
                            <th>Nhu cầu</th>
                            <th>Nguồn</th>
                            <th>Phụ trách</th>
                            <th>Ngày liên hệ</th>
                            <th>Ngày tạo</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <br />
        <a style="margin-bottom:5px" class="btn btn-primary collapsed title-history" data-toggle="collapse" href="#collapseReceipt" role="button" aria-expanded="false" aria-controls="collapseReceipt">
            Biên nhận <span id="receiptCount">(0)</span>
        </a>
        <div class="mt-2 collapse" id="collapseReceipt" style="">
            <div class="table-responsive">
                <table id="tblTasks" class="table table-bordered">
                    <thead class="thead-default">
                        <tr>
                            <th></th>
                            <th>Trạng thái</th>
                            <th>Mức độ khẩn cấp</th>
                            <th>Mã cơ hội</th>
                            <th>Khách hàng</th>
                            <th>Nhu cầu</th>
                            <th>Nguồn</th>
                            <th>Phụ trách</th>
                            <th>Ngày liên hệ</th>
                            <th>Ngày tạo</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <br />
        <a style="margin-bottom:5px" class="btn btn-primary collapsed title-history" data-toggle="collapse" href="#collapseWarrant" role="button" aria-expanded="false" aria-controls="collapseWarrant">
            Bảo hành <span id="warrantCount">(0)</span>
        </a>
        <div class="mt-2 collapse" id="collapseWarrant" style="">
            <div class="table-responsive">
                <table id="tblTasks" class="table table-bordered">
                    <thead class="thead-default">
                        <tr>
                            <th></th>
                            <th>Trạng thái</th>
                            <th>Mức độ khẩn cấp</th>
                            <th>Mã cơ hội</th>
                            <th>Khách hàng</th>
                            <th>Nhu cầu</th>
                            <th>Nguồn</th>
                            <th>Phụ trách</th>
                            <th>Ngày liên hệ</th>
                            <th>Ngày tạo</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section js{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/vendors/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables-buttons/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables-buttons/buttons.print.min.js"></script>
    <script src="~/vendors/jszip/jszip.min.js"></script>
    <script src="~/vendors/datatables-buttons/buttons.html5.min.js"></script>
    <script src="~/vendors/flatpickr/flatpickr.min.js"></script>
    <script src="~/js/pages/crm/crminfo.js"></script>
}

