@model Pelo.Web.Models.CustomerVip.CustomerVipModel

@{
    ViewBag.Title = "Cập nhật mức độ khách hàng thân thiết";
    Layout = "_Layout";
}

@section css {
    <link rel="stylesheet" href="~/vendors/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Cập nhật mức độ khách hàng thân thiết</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index")">
                    Danh sách mức độ khách hàng thân thiết
                </a>
            </li>
            <li class="breadcrumb-item active">Cập nhật mức độ khách hàng thân thiết</li>
        </ol>

        <form class="row" method="post">
            <div class="col-md-12">
                <h3 class="card-body__title">Thông tin mức độ khách hàng thân thiết</h3>
                @Html.ValidationSummary()
                @Html.HiddenFor(c=>c.Id)
                <div class="form-group form-group--float">
                    @Html.TextBoxFor(c => c.Name,
                                     new
                                          {
                                                 @class = "form-control",
                                                 @autocomplete = "none"
                                         })
                    <label>Tên mức độ khách hàng thân thiết</label>
                    <i class="form-group__bar"></i>
                    @Html.ValidationMessageFor(c => c.Name)

                </div>
                <div class="form-group form-group--float">
                    @Html.TextBoxFor(c => c.Color,
                                     new
                                     {
                                             @class = "form-control color-picker",
                                             @autocomplete = "none"
                                     })
                    <label>Màu sắc</label>
                    <i class="form-group__bar"></i>
                    @Html.ValidationMessageFor(c => c.Name)

                </div>
                <div class="form-group form-group--float">
                    @Html.TextBoxFor(c => c.Profit,
                                     new
                                     {
                                             @class = "form-control",
                                             @autocomplete = "none",
                                             @type = "number"
                                     })
                    <label>Lợi nhuận</label>
                    <i class="form-group__bar"></i>
                    @Html.ValidationMessageFor(c => c.Profit)

                </div>
                <button type="submit" class="btn btn-primary">Cập nhật</button>
                <a class="btn btn-secondary" href="@Url.Action("Index")">Hủy</a>
            </div>
        </form>
    </div>
</div>

@section js{
    <script src="~/vendors/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/js/pages/customer_vip/update.js"></script>
}
