@model Pelo.Web.Models.Customer.FindCustomerByPhoneViewModel

@{
    ViewBag.Title = "Tìm kiếm khách hàng";
    Layout = "_Layout";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Tìm kiếm khách hàng</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index",
                                     Model.NextAction)">
                    Danh sách CRM
                </a>
            </li>
            <li class="breadcrumb-item active">Tìm kiếm khách hàng</li>
        </ol>

        <form class="row" method="post">
            <div class="col-md-12">
                <h3 class="card-body__title">Thông tin khách hàng</h3>
                @Html.ValidationSummary()
                @Html.HiddenFor(c=>c.NextAction)
                <div class="form-group form-group--float">
                    @Html.TextBoxFor(c => c.PhoneNumber,
                                     new
                                          {
                                                 @class = "form-control",
                                                 @autocomplete = "none"
                                         })
                    <label>Số điện thoại</label>
                    <i class="form-group__bar"></i>
                    @Html.ValidationMessageFor(c => c.PhoneNumber)
                </div>
                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                <a class="btn btn-secondary" href="@Url.Action("Index",Model.NextAction)">Hủy</a>
            </div>
        </form>
    </div>
</div>

@section js{
    <script src="~/js/pages/app_config/add.js"></script>
}

